@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-body: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	font-family: var(--font-body);
	--rosewater: #f5e0dc;
	--flamingo: #f2cdcd;
	--pink: #f5c2e7;
	--mauve: #cba6f7;
	--red: #f38ba8;
	--maroon: #eba0ac;
	--peach: #fab387;
	--yellow: #f9e2af;
	--green: #a6e3a1;
	--teal: #94e2d5;
	--sky: #89dceb;
	--sapphire: #74c7ec;
	--blue: #89b4fa;
	--lavender: #b4befe;
	--base: #1e1e2e;
	--mantle: #181825;
	--crust: #11111b;
	--tokyo-background: #24283b;
	--tokyo-black: #1d202f;
	--tokyo-blue: #7aa2f7;
	--tokyo-brightBlack: #414868;
	--tokyo-brightBlue: #7aa2f7;
	--tokyo-brightCyan: #7dcfff;
	--tokyo-brightGreen: #9ece6a;
	--tokyo-brightPurple: #9d7cd8;
	--tokyo-brightRed: #f7768e;
	--tokyo-brightWhite: #c0caf5;
	--tokyo-brightYellow: #e0af68;
	--tokyo-cursorColor: #c0caf5;
	--tokyo-cyan: #7dcfff;
	--tokyo-foreground: #c0caf5;
	--tokyo-green: #9ece6a;
	--tokyo-purple: #bb9af7;
	--tokyo-red: #f7768e;
	--tokyo-selectionBackground: #2e3c64;
	--tokyo-white: #a9b1d6;
	--tokyo-yellow: #e0af68;

	/* .magicpattern { */
	/* 	width: 100%; */
	/* 	height: 100%; */
	/* 	background-size: cover; */
	/* 	background-position: center center; */
	/* 	background-repeat: repeat; */
	/* 	background-image: url('data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath fill=%22%23eaeaea%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 100h0c48-.163 96-.327 143 2s92.997 7.144 142 4 101.01-14.25 147-13c45.99 1.25 85.96 14.853 130 13 44.04-1.853 92.152-19.164 141-24 48.848-4.836 98.434 2.803 149 8s102.112 7.953 152 9c49.888 1.047 98.118.384 147-1 48.882-1.384 98.415-3.49 142-5 43.585-1.51 81.223-2.424 129-3 47.777-.576 105.693-.814 156 4s93.006 14.68 136 16c42.994 1.32 86.284-5.909 134-9 47.716-3.091 99.858-2.046 192-1%22 fill=%22none%22 stroke=%22%23717171%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 200h0c47.608-6.872 95.217-13.744 143-14 47.783-.256 95.742 6.105 143 14 47.258 7.895 93.815 17.323 141 13s95-22.397 145-27c50-4.603 102.187 4.265 151 8 48.813 3.735 94.253 2.338 138 2 43.747-.338 85.802.382 134 5 48.198 4.618 102.538 13.132 152 14 49.462.868 94.046-5.912 143-7 48.954-1.088 102.278 3.515 146 4 43.722.485 77.843-3.148 123-5 45.157-1.852 101.35-1.922 154-3 52.65-1.078 101.757-3.165 149-4 47.243-.835 92.621-.417 178 0%22 fill=%22none%22 stroke=%22%239d9d9d%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 300h0c44.122 2.494 88.244 4.987 137 8s102.146 6.544 148 2 84.171-17.165 132-20c47.829-2.835 105.17 4.116 157 12s98.152 16.7 146 12c47.848-4.7 97.222-22.915 147-27 49.778-4.085 99.959 5.962 143 14s78.943 14.067 126 15c47.057.933 105.27-3.229 156-5 50.73-1.771 93.98-1.151 141-5 47.02-3.849 97.81-12.166 142-17s81.782-6.186 130-6c48.218.186 107.062 1.91 158 5s93.969 7.545 177 12%22 fill=%22none%22 stroke=%22%23ccc%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 400h0c42.43 9.339 84.86 18.677 131 15 46.14-3.677 95.99-20.371 143-21 47.01-.629 91.178 14.807 142 17 50.822 2.193 108.296-8.858 161-16 52.704-7.142 100.638-10.376 147-9 46.362 1.376 91.151 7.364 139 12 47.849 4.636 98.756 7.922 145 4 46.244-3.922 87.823-15.052 131-12 43.177 3.052 87.95 20.285 135 24s96.375-6.087 148-12 105.549-7.935 151-7c45.451.935 82.43 4.829 130 2 47.57-2.829 105.735-12.38 157-13 51.265-.62 95.633 7.69 180 16%22 fill=%22none%22 stroke=%22%23545454%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 500h0c51.01-2.252 102.02-4.504 150-6 47.98-1.496 92.933-2.236 135 4 42.067 6.236 81.25 19.447 131 18 49.75-1.447 110.066-17.554 158-22 47.934-4.446 83.485 2.768 132 3 48.515.232 109.993-6.519 162-6 52.007.519 94.544 8.306 135 14 40.456 5.694 78.831 9.293 128 3 49.169-6.293 109.131-22.478 163-20 53.869 2.478 101.644 23.62 144 26 42.356 2.38 79.291-14.001 124-17 44.709-2.999 97.19 7.385 149 11s102.945.461 151-2c48.055-2.461 93.027-4.23 178-6%22 fill=%22none%22 stroke=%22%239f9f9f%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 600h0c50.37 1.012 100.742 2.023 151-4 50.258-6.023 100.404-19.082 143-14 42.596 5.082 77.642 28.305 126 31 48.358 2.695 110.027-15.136 159-19 48.973-3.864 85.251 6.241 133 13 47.749 6.759 106.968 10.172 154 2s81.878-27.93 129-26c47.122 1.93 106.52 25.55 155 32 48.48 6.45 86.044-4.27 133-11s103.303-9.472 154-10c50.697-.528 95.744 1.157 143 3s96.723 3.842 143 8c46.277 4.158 89.365 10.474 135 10 45.635-.474 93.818-7.737 182-15%22 fill=%22none%22 stroke=%22%23c3c3c3%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 700h0c43.917 6.776 87.835 13.551 137 14 49.165.449 103.58-5.429 155-13s99.849-16.836 147-17c47.151-.164 93.026 8.774 136 17 42.974 8.226 83.047 15.742 134 16 50.953.258 112.785-6.741 159-10 46.215-3.259 76.81-2.776 124-3 47.19-.224 110.97-1.153 163-7 52.03-5.847 92.306-16.611 135-13 42.694 3.611 87.805 21.597 137 23 49.195 1.403 102.475-13.779 149-16 46.525-2.221 86.295 8.517 133 14 46.705 5.483 100.344 5.71 150 4 49.656-1.71 95.328-5.355 181-9%22 fill=%22none%22 stroke=%22%23797979%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 800h0c50.298-9.916 100.597-19.832 147-18 46.403 1.832 88.91 15.411 136 21s98.76 3.186 148-2c49.24-5.186 96.048-13.157 143-12s94.05 11.44 138 19c43.95 7.56 84.755 12.395 134 6 49.245-6.395 106.93-24.02 161-22 54.07 2.02 104.524 23.687 148 23 43.476-.687 79.973-23.729 128-26 48.027-2.271 107.585 16.228 157 24 49.415 7.772 88.689 4.815 135-2 46.311-6.815 99.66-17.489 148-15 48.34 2.489 91.668 18.14 137 21 45.332 2.86 92.666-7.07 180-17%22 fill=%22none%22 stroke=%22%23d5d5d5%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 900h0c43.276-7.43 86.553-14.86 136-17 49.447-2.14 105.066 1.012 156 4s97.185 5.81 139 10 79.196 9.745 128 11c48.804 1.255 109.033-1.79 162-6s98.674-9.588 145-5c46.326 4.588 93.273 19.14 143 16 49.727-3.14 102.236-23.975 145-30 42.764-6.025 75.784 2.761 123 10 47.216 7.239 108.627 12.931 158 15 49.373 2.069 86.708.513 131-2s95.54-5.984 147-9c51.46-3.016 103.131-5.576 151-5 47.869.576 91.934 4.288 176 8%22 fill=%22none%22 stroke=%22%23969696%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 1000h0c48.787 2.017 97.573 4.033 145 7 47.427 2.967 93.493 6.883 141 4 47.507-2.883 96.455-12.566 148-18 51.545-5.434 105.688-6.618 149-4 43.312 2.618 75.795 9.038 121 13 45.205 3.962 103.134 5.465 157 9s103.669 9.103 147 4 80.19-20.878 129-23 109.568 9.41 156 15 78.539 5.241 124 5c45.461-.241 104.278-.374 156-6 51.722-5.626 96.348-16.745 141-17 44.652-.255 89.33 10.356 137 14s98.335.322 189-3%22 fill=%22none%22 stroke=%22%23656565%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 1100h0c48.904-1.658 97.809-3.317 147-6s98.67-6.391 144-5 86.51 7.882 131 12c44.49 4.118 92.288 5.864 140 6 47.712.136 95.339-1.34 147-5s107.358-9.508 155-8c47.642 1.508 87.231 10.37 133 12 45.769 1.63 97.718-3.97 146-6s92.896-.486 142-2 102.696-6.085 154-7 100.319 1.827 143 2c42.681.173 79.03-2.223 122-2 42.97.223 92.563 3.064 143 5s101.719 2.968 193 4%22 fill=%22none%22 stroke=%22%23727272%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 1200h0c46.048-1.125 92.097-2.25 141-1 48.903 1.25 100.662 4.874 148 5 47.338.126 90.256-3.246 139-3s103.315 4.11 151 2c47.685-2.11 88.485-10.195 132-8 43.515 2.195 89.746 14.67 141 17 51.254 2.33 107.531-5.482 159-9 51.469-3.518 98.13-2.741 140 2 41.87 4.741 78.949 13.447 127 7 48.051-6.447 107.074-28.048 153-28 45.926.048 78.753 21.745 128 23 49.247 1.255 114.913-17.931 164-20 49.087-2.069 81.596 12.98 125 18 43.404 5.02 97.702.01 192-5%22 fill=%22none%22 stroke=%22%23555%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 1300h0c50.448-9.678 100.896-19.355 147-17 46.104 2.355 87.865 16.743 137 23 49.135 6.257 105.644 4.381 154-2 48.356-6.381 88.558-17.27 130-15 41.442 2.27 84.124 17.696 135 22 50.876 4.304 109.947-2.514 160-10 50.053-7.486 91.086-15.641 139-14s102.707 13.079 148 16c45.293 2.921 81.087-2.675 127-2 45.913.675 101.946 7.62 151 5s91.128-14.805 141-19 107.543-.399 153 5c45.457 5.399 78.702 12.4 123 14 44.298 1.6 99.649-2.2 195-6%22 fill=%22none%22 stroke=%22%23676767%22 stroke-linecap=%22round%22%2F%3E%3C%2Fsvg%3E'); */
	/* } */
}

/* Blue Colar */
/* bg-gradient-to-r from-blue-400 to-emerald-400 */

/* Ice */
/* bg-gradient-to-r from-rose-100 to-teal-100 */

/* Gunmetal */
/* @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-gray-50 via-gray-200 to-gray-400 text-black; */
/* Gotham */
/* @apply dark:bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] dark:from-gray-700 dark:via-gray-900 dark:to-black text-white; */
body {
	min-height: 100vh;
	margin: 0;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	/* Dark Mode gradient */
	@apply dark:bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] dark:from-gray-700 dark:via-gray-900 dark:to-black dark:text-white;

	/* Light Mode Gradient bg */
	@apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-gray-50 via-gray-200 to-gray-400 text-black;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #11111b #1e1e2e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	@apply dark:bg-slate-800 bg-white;
	border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
	@apply dark:bg-slate-800 dark:border-slate-600 bg-white border-gray-500;
	border-radius: 14px;
	border: 1px solid;
}
