@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

:root {
	font-family: 'Inter', sans-serif;
}

body {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	@apply bg-white dark:bg-slate-800 text-black dark:text-white;
}
