@tailwind base;

/* Firefox */
* {
	scrollbar-width: thin;
	/* scrollbar-color: var(--overlay) var(--crust); */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	@apply dark:bg-slate-800 bg-white;
	border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
	@apply dark:bg-slate-800 dark:border-slate-900 bg-white border-gray-500;
	border-radius: 14px;
	border: 1px solid;
}

@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

:root {
	font-family: 'Inter', sans-serif;
}

body {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	@apply bg-white dark:bg-slate-800 text-black dark:text-white;
}
